.hello{
    color: brown;
    font-display: 200px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    justify-content: center;
}
body{
    padding-top: 60px;
    padding-bottom: 40px;
    
img{
    float: left;
    width: 100%;
  height: auto;
